// hero section

.hero {
    position: relative;
    padding: 60px 0 0;
    min-height: 980px;

    &_bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 110%;
        height: 100%;

        &-blue {
            height: 100%;
            position: relative;
            z-index: 1;
        }
    }

    .container {
        position: relative;
        z-index: 20;
    }

    &_media {
        .oval {
            display: none;
        }
    }

    &_main {
        color: #fff;
        margin-bottom: 40px;

        .tw-height {
            display: block;
            max-width: 850px;
            opacity: 0;
        }

        &-title {
            color: #fff;
        }

        &-text {
            position: relative;
            margin: 25px 0 50px;
            padding-top: 65px;
            font-weight: normal;

            &:before {
                content: '';
                @include caret;
                top: 0;
                left: 0;
            }
        }
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .hero {
        &_main {
            &-btn {
                width: 250px;
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .hero {
        padding-top: 50px;

        &_main {
            &-text {
                max-width: 650px;
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .hero {

        &_media {
            max-width: 860px;
            margin: 0 auto;
        }

        &_main {
            &-title {
                max-width: 810px;
            }
        }
    }
}

@media screen and (min-width: 1199.98px) {
    .hero {
        padding: 140px 0;

        &_main {
            margin-bottom: 0;
            min-width: 640px;
        }

        &_media {
            position: absolute;
            top:0;
            right:0;
        }
    }
}