// pricing section
$colors: ($primary, $teritary, $accent, $secondary);


.pricing {
    padding: 60px 0;
    text-align: center;

    &_header {
        margin: 0 auto 40px;
    }

    &_list {
        &-item {
            padding: 50px;
            position: relative;
            box-sizing: border-box;
            width: calc(100% / 4);

            &:before {
                content: '';
                position: absolute;
                top: 10%; left: auto;
                right: -10px;
                height: 80%;
                width: 2px;
                background: $headerColor;
                box-shadow: none;
            }

            &:last-child::before {
                content: none;
            }

            &_header {
                .title {
                    font-size: 35px;
                    text-transform: uppercase;
                    display: block;
                    color: $accent;
                }
            }

            &_body {
                .price {
                    font-family: $headerFont;
                    color: $primary;
                    display: block;
                    margin-bottom: 10px;
                    font-weight: 700;
                    text-align: right;

                    .sign {
                        font-size: 34px;
                        position: relative;
                        right: -10px;
                    }

                    .int {
                        font-size: 50px;
                    }
                }

                .label {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.3px;
                    color: $headerColor;
                    margin-bottom: 25px;
                    display: block;
                }

                &.additional li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &:before {
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    span {
                        display: block;
                    }

                    .price {
                        font-size: 20px;
                    }
                }
            }

            &_list {
                margin-bottom: 30px;

                .list-item {
                    font-weight: 400;
                    text-align: left;

                    &:before {
                        background: $accent;
                    }
                }
            }
        }
    }
}

@for $i from 1 through length($colors) {
    .pricing_list-item:nth-child(#{$i}) {
        .title {
            color: nth($colors, $i);
        }
        .pricing_list-item_body .price { color: nth($colors, $i);}

        .pricing_list-item_list li:before {
            background: nth($colors, $i);
        }
    }
}

// media queries

// @media screen and (min-width: 575.98px) {
//     .pricing {
//         &_list {
//             &-item {
//                 &_header {
//                     .label {
//                         max-width: 270px;
//                         margin: 0 auto 10px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media screen and (min-width: 767.98px) {
//     .pricing {
//         padding: 100px 0;

//         &_header {
//             margin-bottom: 30px;

//             &-title {
//                 margin-bottom: 10px;
//             }
//         }

//         &_list {
//             gap: 60px 40px;

//             &-item {
//                 padding: 0;
//                 width: calc(50% - 20px);

//                 &:before {
//                     display: none;
//                 }

//                 &_header {
//                     .label {
//                         margin: 0 auto 15px;
//                     }

//                     .price {
//                         .float {
//                             top: -20px;
//                         }
//                     }
//                 }

//                 &_list {
//                     flex-grow: 1;
//                 }
//             }
//         }
//     }
// }

// @media screen and (min-width: 991.98px) {
//     .pricing {
//         padding: 120px 0;

//         &_header {
//             margin-bottom: 40px;
//         }

//         &_list {
//             gap: 0;

//             &-item {
//                 width: calc(100% / 4);

//                 .media {
//                     display: block;
//                     position: absolute;
//                     height: 85px;
//                     width: 100%;

//                     * {
//                         position: absolute;
//                         max-width: 100px;
//                     }

//                     &_left {
//                         left: -50px;
//                     }

//                     &_right {
//                         right: -50px;
//                         transform: rotate(-27deg);
//                         top: -25px;
//                     }
//                 }

//                 &:nth-of-type(2) {
//                     position: relative;

//                     &:before, &:after {
//                         display: block;
//                         content: '';
//                         position: absolute;
//                         width: 2px;
//                         height: calc(100% - 140px);
//                         background: $headerColor;
//                         bottom: 0;
//                         transform: none;
//                     }

//                     &:before {
//                         left: 0;
//                         top: unset;
//                     }

//                     &:after {
//                         right: 0;
//                     }
//                 }

//                 &_header {
//                     .price {
//                         .float {
//                             top: -25px;
//                         }
//                     }
//                 }

//                 &_list {
//                     flex-grow: 1;
//                 }
//             }
//         }
//     }
// }