// accordion component
.accordion {
    margin: 0 auto;

    .accordion-item {
        border-bottom: 2px solid $bodyText;

        &:last-child {
            border-bottom: none;
        }
        &.active {
            .accordion-header .icon {
                transform: rotate(270deg);
            }
            .accordion-content {
                display: block;
            }
        }
    }
    .accordion-header {
        padding: 25px 0;
        transition: .4s ease-in-out;
        cursor: pointer;

        &_icon {
            margin-left: 30px;
            font-size: 24px;
        }

        &:hover {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
    .accordion-content {
        display: none;

        .body {
            margin-bottom: 30px;
            padding-top: 20px;
        }

        .main {

            &_text {
                margin-left: -50px;
            }

            &_general {
                margin-bottom: 16px;
            }

            &_list {
                display: flex;
                flex-direction: column;
                gap: 20px 0;

                &-item {
                    display: flex;
                    align-items: flex-start;

                    .number {
                        background: $accent;
                        margin-right: 15px;
                        width: 35px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        line-height: 1;
                        font-weight: 700;
                        font-family: $headerFont;
                        color: $headerColor;
                    }

                    .main {
                        width: calc(100% - 35px - 15px);

                        &_title {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

// media queries
@media screen and (min-width: 413.98px) {
}

@media screen and (min-width: 767.98px) {
}

@media screen and (min-width: 991.98px) {
}