// services main content
.services {
    &_list {
        padding: 60px 0;
        gap: 50px 0;

        &-item {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 150px;

            &:last-child {
                border-bottom: none;
            }

            .media {
                height: 230px;
                overflow: hidden;
                margin-bottom: 20px;

                img {
                    height: 100%;
                }

                &_icon {
                    display: none;
                }
            }

            .main {
                padding: 0 30px;

                &_title {
                    margin-bottom: 15px;
                }

                &_text {
                    margin: 10px 0;

                    ul li {
                        position: relative;
                        padding-left: 17px;
                        margin-bottom: 5px;

                        &:before {
                            content: '';
                            width: 8px;
                            height: 8px;
                            background: $primary;
                            position: absolute;
                            left: 0;
                            top: 6px;
                        }
                    }
                }                
            }
        }
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .services {
        &_list {
            &-item {
                .media {
                    height: 350px;
                }

                .main {
                    &_btn {
                        max-width: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .services {
        &_list {
            gap: 70px 0;
            padding: 100px 0;

            &-item {

                &:nth-of-type(even) {
                    flex-direction: row-reverse;
                }

                .media {
                    height: auto;
                    margin-bottom: 0;
                    width: 300px;
                }

                .main {
                    width: calc(100% - 330px);

                    &_btn {
                        width: 100%;
                        max-width: unset;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .services {
        &_list {
            padding: 120px 0;

            &-item {
                .main {
                    width: calc(100% - 360px);

                    &_btn {
                        max-width: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1199.98px) {
    .services {
        &_list {
            padding: 120px 0;
            gap: 110px 0;

            &-item {
                .media {
                    width: 100%;
                    max-width: 475px;
                    position: relative;
                    overflow: visible;

                    img {
                        position: relative;
                        z-index: 9;
                    }

                    &_icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        color: $primary;
                        width: 130px;
                        height: 130px;
                        background: #fff;
                        border: 2px solid $headerColor;
                        border-radius: 50%;
                        z-index: 10;
                        font-size: 48px;
                        bottom: -40px;
                    }
                }

                &:nth-of-type(odd) {
                    .media {
                        img {
                            margin-left: auto;
                        }

                        &_icon {
                            left: 0;
                        }
                    }
                }

                &:nth-of-type(even) {
                    .media {
                        &_icon {
                            right: 0;
                        }
                    }
                }

                .main {
                    width: calc(100% - 60px - 475px);
                    display: flex;
                    flex-direction: column;
                    &_list {
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}