.tabs {
    .tab {
        margin: 0 5px 50px;
        padding: 0;
        background: $white;
        transition: all 0.3s ease;
        
        &.active {
            background: $primary;
        }

        &:before {
            content: none;
        }
    }
}

.tab_content {
    //display: none;

    .project-box {
        position: relative;
        display: block;
        border-radius: $border-radius;

        &:hover, &:focus {
            box-shadow: 6px 6px 0 $primary;

            picture, .title { 
                border: 1px solid #000;
            }
        }
    }
    .box {
        margin-bottom: 40px;

        picture {
            border: 1px solid transparent;
            margin-bottom: 2px;
            display: block;
            transition: border 0.3s ease;
        }

        .title {
            background: #fff;
            border: 1px solid transparent;
            padding: 15px 10px;
            transition: border 0.3s ease;
            text-align: center;

            h4 {
                font-size: 24px;
                margin-bottom: 5px;

                + p {
                    margin-bottom: 0;
                    display: none;
                }
            }
        }
    }
}

// Single Project
.info {
    padding-top: 180px;

    h2 {
        margin-bottom: 50px;
    }

    .website-scroll {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 615px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        border-radius: $border-radius;
        
        .scroll-img {
            width: 100%;
            position: absolute;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        &:hover .scroll-img { animation: scrollImage 4s linear infinite; }

        @keyframes scrollImage {
            0% {
                top: 0;
            }
            100% {
                top: -550%;
            }
        }

        &:before {
            content: '';
            background: rgba($black,0.6);
            position: absolute;
            left: 0; right: 0;
            top: 0;
            width: 100%; height: 100%;
            z-index: 1;
            transition: all 0.3s ease;
            opacity: 1;
            visibility: visible;
        }
        
        .icon {
            position: absolute;
            z-index: 5;
            width: 60px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: all 0.3s ease;
            opacity: 1;
            visibility: visible;
        }

        &:hover {
            &:before {
                opacity: 0;
                visibility: hidden;
            }
            .icon {
                top: 0;
                transform: translateY(-150%);
                opacity: 0;
                visibility: hidden;
            }

        }
    }

    .project-details {
        background: $white;
        padding: 20px;
        border-radius: $border-radius;
        position: relative;
        border: 1px solid $headerColor;

        &:after {
            content: "";
            width: calc(100% + 4px);
            height: calc(100% + 2px);
            position: absolute;
            top: -1px;
            left: -3px;
            box-shadow: 3px 3px 0 $teritary;
            z-index: 1;
            transition: opacity .3s ease-in-out;
            border-radius: 7px;
        }

        li {
            padding: 0;

            &::before {
                content: none;
            }
            span {
                color: $grey;
                text-transform: uppercase;
            }
        }
    }
}

.responsive {
    .btn {
        max-width: 500px;
        margin: 50px auto 0;
    }
}